<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Something went wrong">
    <meta name="author" content="Deyan Bozhilov">
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/0782d985f5.js" crossorigin="anonymous"></script>
    <link href="./style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <div class="container nav-container">
        <a class="nav-title" href="/">
            <span class="hide-lg">DR</span>
            <span class="hide-md">Domestic Repair</span>
        </a>
        <div class="current-user">
            <img src="{{user.avatar}}" alt="">
            <span class="hide-md">Hi, {{user.user}}</span> 
        </div>
        <a class="logout" href="/logout">
            <span class="hide-md">Logout</span> <i class="fas fa-power-off"></i>
        </a>
    </div>
</nav>
<div class="container">
    {{#if success}}
        <div class="toast success">
            <p>{{success}}</p>
        </div>
    {{/if}}
    {{#if error}}
        <div class="toast error">
            <p>{{error}}</p>
        </div>
    {{/if}}
    <div class="hero-section">
        <p class="title">Dashboard</p>
        <div class="actions">
            <button id="add-report"><i class="fas fa-file-medical-alt"></i> Add Report</button>
        </div>
    </div>
    <div class="job-list">
        <div class="job-list-header">
            <p class="job-list-title"><i class="fas fa-clipboard-list"></i> {{#if filter}} {{filter}} {{else}} your {{/if}} jobs</p>
            <div class="filter-box">
                <form action="" method="get">
                <label for="filter">Filter jobs: </label>
                    <select name="filter" id="filter">
                        <option value="new">All (new first)</option>
                        <option value="assigned">Assigned</option>
                        <option value="completed">Completed</option>
                    </select>
                    <input type="submit" value="Apply">
                </form>
            </div>
        </div>
        <div class="jobs-container">
            {{#if userJobs}}
                {{#each userJobs}}
                    <div class="job-item">
                        <span class="job-status">
                            <span class="hide-md">Status:</span>
                            {{#if assigned}}
                                {{#if status}}
                                    <i class="fas fa-check text-green"></i>
                                {{else}}
                                    <i class="fas fa-times text-red"></i>
                                {{/if}}
                            {{else}}
                                {{# if quoteId}}
                                    <i class="fas fa-spinner"></i>
                                {{else}}
                                    <i class="fas fa-times text-red"></i>
                                {{/if}}
                            {{/if}}
                        </span>
                        <a class="job-link" href="/report/{{id}}">
                            {{desc}}
                        </a>
                        <small>
                            <span class="secondary">{{appType}}</span> |
                            <span class="secondary">{{appAge}} years</span> |
                            <span class="secondary">{{appMan}}</span>
                        </small>
                    </div>
                {{/each}}
            {{else}}
                <p class="no-more">No jobs found! :(</p>
            {{/if}}
        </div>
    </div>
</div>

<div class="modal-overlay" id="report-modal">
    <div class="modal-window">
        <div class="modal-header">
            <p class="modal-header-title">Report a problem</p>
            <button class="close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <form action="/report" method="post" class="modal-form">
                <div class="modal-form-group">
                    <label for="type">Appliance type</label>
                    <select name="type" id="type" required>
                        <option value="" selected>-- Choose --</option>
                        {{#each extra.appliances}}
                            <option value="{{type}}">{{type}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="modal-form-group">
                    <label for="age">Appliance age</label>
                    <select name="age" id="age" required>
                        <option value="" selected>-- Choose --</option>
                        <option value="1">1 year</option>
                        <option value="2">2 years</option>
                        <option value="3">3 year</option>
                        <option value="4">4 years</option>
                        <option value="5">5 year</option>
                        <option value="6">6 years</option>
                        <option value="7">7 year</option>
                        <option value="8">8 years</option>
                        <option value="9">9 years</option>
                        <option value="10">10 years</option>
                    </select>
                </div>
                <div class="modal-form-group">
                    <label for="manufacturer">Appliance Manufacturer</label>
                    <select name="manufacturer" id="manufacturer" required>
                        <option value="" selected>-- Choose --</option>
                        {{#each extra.manufacturers}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="modal-form-group">
                    <label for="desc">Fault description</label>
                    <textarea name="desc" id="desc"></textarea>
                </div>
                <div class="modal-form-group">
                    <label for="address">Drag the marker to your location</label>
                    <div id="map"></div>
                </div>
                <input type="hidden" name="user" value="{{user.id}}">
                <input type="hidden" name="lat" id="lat" value="">
                <input type="hidden" name="lng" id="lng" value="">
                <div class="modal-form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../app.js"></script>
<script>
    function initMap() {
    	let latInput = document.getElementById("lat")
    	let lngInput = document.getElementById("lng")

        latInput.value = 52.406199
        lngInput.value = -1.508374

        const mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(52.406199,-1.508374)
        }
        const map = new google.maps.Map(document.getElementById('map'), mapOptions);
        let marker = new google.maps.Marker({
            position: mapOptions.center,
            map: map,
            draggable:true,
            title:"Drag me!"
        });

        google.maps.event.addListener(marker, 'dragend', function(e){
            latInput.value = e.latLng.lat();
            lngInput.value = e.latLng.lng();
        });

        map.setCenter(marker.position);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClh5B6yiEc3qd754g2pItmh_FcgXAUr3E&callback=initMap"
        async defer></script>
</body>
</html>
