<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Something went wrong">
    <meta name="author" content="Deyan Bozhilov">
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/0782d985f5.js" crossorigin="anonymous"></script>
    <link href="./style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <div class="container nav-container">
        <a class="nav-title" href="/">Domestic Repair</a>
        <ul>
            <li>
                Hi, {{user.user}}
            </li>
            <a href="/logout">
                <li>
                    <i class="fas fa-sign-out-alt"></i> Logout
                </li>
            </a>
        </ul>
    </div>
</nav>
<div class="container">
    {{#if success}}
        <p class="success">{{success}}</p>
    {{/if}}
    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
    <div class="hero-section">
        <h2 class="title">Dashboard</h2>
        <button id="add-report"><i class="fas fa-file-medical-alt"></i> Add Report</button>
    </div>
    <div class="job-list">
        <p class="job-list-title"><i class="fas fa-clipboard-list"></i> your jobs</p>
        {{#each userJobs}}
            <div class="job-item">
                <span class="job-status">
                    Status:
                    {{#if completed}}
                        <i class="fas fa-check text-green"></i>
                    {{else}}
                        <i class="fas fa-times text-red"></i>
                    {{/if}}
                </span>
                <a href="/report/{{id}}">
                    <span>{{desc}}</span>
                    <small>
                        <span class="secondary">{{appType}}</span> |
                        <span class="secondary">{{appAge}} years</span> |
                        <span class="secondary">{{appMan}}</span>
                    </small>
                </a>
            </div>
        {{/each}}
    </div>
</div>

<div class="modal-overlay" id="report-modal">
    <div class="modal-window">
        <div class="modal-header">
            <p class="modal-header-title">Report a problem</p>
            <button class="close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <form action="/report" method="post" class="modal-form">
                <div class="modal-form-group">
                    <label for="type">Appliance type</label>
                    <select name="type" id="type" required>
                        <option value="" selected>-- Choose --</option>
                        {{#each appliances}}
                            <option value="{{type}}">{{type}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="modal-form-group">
                    <label for="age">Appliance age</label>
                    <select name="age" id="age" required>
                        <option value="" selected>-- Choose --</option>
                        <option value="1">1 year</option>
                        <option value="2">2 years</option>
                        <option value="3">3 year</option>
                        <option value="4">4 years</option>
                        <option value="5">5 year</option>
                        <option value="6">6 years</option>
                        <option value="7">7 year</option>
                        <option value="8">8 years</option>
                        <option value="9">9 years</option>
                        <option value="10">10 years</option>
                    </select>
                </div>
                <div class="modal-form-group">
                    <label for="manufacturer">Appliance Manufacturer</label>
                    <select name="manufacturer" id="manufacturer" required>
                        <option value="" selected>-- Choose --</option>
                        {{#each manufacturers}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="modal-form-group">
                    <label for="desc">Fault description</label>
                    <textarea name="desc" id="desc"></textarea>
                </div>
                <input type="hidden" name="user" value="{{user.id}}">
                <div class="modal-form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../app.js"></script>
</body>
</html>
