<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Something went wrong">
    <meta name="author" content="Deyan Bozhilov">
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/0782d985f5.js" crossorigin="anonymous"></script>
    <link href="../style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <div class="container nav-container">
        <a class="nav-title" href="/tech/dashboard">
            <span class="hide-lg">DR</span>
            <span class="hide-md">Domestic Repair</span>
        </a>
        <div class="current-user">
            <span class="badge">Technician</span>
            <span class="hide-md">Hi, {{tech.user}}</span> 
        </div>
        <a class="logout" href="/tech/logout">
            <span class="hide-md">Logout</span> <i class="fas fa-power-off"></i>
        </a>
    </div>
</nav>
<div class="container">
    {{#if success}}
        <div class="toast success">
            <p>{{success}}</p>
        </div>
    {{/if}}
    {{#if error}}
        <div class="toast error">
            <p>{{error}}</p>
        </div>
    {{/if}}
    <div class="hero-section">
        <h2 class="title">Dashboard</h2>
        <div class="actions">
            <button id="add-appliance"><i class="fas fa-blender-phone"></i> Add Appliance</button>
            <button id="add-manufacturer"><i class="far fa-copyright"></i> Add Manufacturer</button>
            <form action="/tech/schedule/{{tech.id}}" method="post">
                <input type="submit" value="Download Schedule">
            </form>
        </div>
    </div>
    <div class="job-list">
        <div class="job-list-header">
            <p class="job-list-title"><i class="fas fa-clipboard-list"></i> available jobs</p>
        </div>
        <div class="jobs-container">
            {{#if jobs}}
                {{#each jobs}}
                <div class="job-item">
                    <span class="job-status">
                        <span class="hide-md">Status:</span>
                        {{#if status}}
                            <i class="fas fa-check text-green"></i>
                        {{else}}
                            <i class="fas fa-times text-red"></i>
                        {{/if}}
                    </span>
                    <a class="job-link" href="/tech/report/{{id}}">
                        {{desc}}
                    </a>
                    <small>
                        <span class="secondary">{{appType}}</span> |
                        <span class="secondary">{{appAge}} years</span> |
                        <span class="secondary">{{appMan}}</span>
                    </small>
                </div>
            {{/each}}
            {{else}}
            <p class="no-more">No jobs found! :(</p>
            {{/if}}
        </div>
    </div>
    <div class="job-list">
        <div class="job-list-header">
            <p class="job-list-title"><i class="fas fa-spinner"></i> pending jobs</p>
        </div>
        <div class="jobs-container">
            {{#if techPendingJobs}}
                {{#each techPendingJobs}}
                <div class="job-item">
                    <span class="job-status">
                        <span class="hide-md">Status:</span>
                        <i class="fas fa-spinner"></i>
                    </span>
                    <a class="job-link" href="/tech/report/{{id}}">
                        {{desc}}
                    </a>
                    <small>
                        <span class="secondary">{{appType}}</span> |
                        <span class="secondary">{{appAge}} years</span> |
                        <span class="secondary">{{appMan}}</span>
                    </small>
                </div>
            {{/each}}
            {{else}}
            <p class="no-more">No jobs found! :(</p>
            {{/if}}
        </div>
    </div>
    <div class="job-list">
        <div class="job-list-header">
            <p class="job-list-title"><i class="fas fa-tasks"></i> your jobs</p>
        </div>
        <div class="jobs-container">
            {{#if techJobs}}
                {{#each techJobs}}
                    <div class="job-item">
                        <span class="job-status">
                            Status:
                            {{#if status}}
                                <i class="fas fa-check text-green"></i>
                            {{else}}
                                <i class="fas fa-times text-red"></i>
                            {{/if}}
                        </span>
                        <a class="job-link" href="/tech/report/{{id}}">
                            {{desc}}
                        </a>
                        <small>
                            <span class="secondary">{{appType}}</span> |
                            <span class="secondary">{{appAge}} years</span> |
                            <span class="secondary">{{appMan}}</span>
                        </small>
                    </div>
                {{/each}}
            {{else}}
            <p class="no-more">No jobs found! :(</p>
            {{/if}}
        </div>
    </div>
    <div class="row-wrap">
        <div class="wrap-list">
            <div class="wrap-list-header">
                <p class="wrap-list-title"><i class="fas fa-blender-phone"></i> All Supported Appliances</p>
            </div>
            <div class="wrap-container">
                {{#if extra.appliances}}
                    {{#each extra.appliances}}
                        <div class="wrap-item">
                            <p>{{type}}</p>
                            <a href="/tech/remove-app/{{id}}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    {{/each}}
                {{else}}
                    <p class="no-more">No appliances found! :(</p>
                {{/if}}
            </div>
        </div>
        <br>
        <div class="wrap-list">
            <div class="wrap-list-header">
                <p class="wrap-list-title"><i class="far fa-copyright"></i> All Supported Manufacturers</p>
            </div>
            <div class="wrap-container">
                {{#if extra.manufacturers}}
                    {{#each extra.manufacturers}}
                        <div class="wrap-item">
                            <p>{{name}}</p>
                            <a href="/tech/remove-man/{{id}}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    {{/each}}
                {{else}}
                    <p class="no-more">No manufacturers found! :(</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>


<div class="modal-overlay" id="manufacturer-modal">
    <div class="modal-window">
        <div class="modal-header">
            <p class="modal-header-title">Add supported Manufacturer</p>
            <button class="close man"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <form action="/tech/manufacturer" method="post" class="modal-form">
                <div class="modal-form-group">
                    <label for="name">Manufacturer Name</label>
                    <input name="name" id="name" type="text" required>
                </div>
                <div class="modal-form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal-overlay" id="appliance-modal">
    <div class="modal-window">
        <div class="modal-header">
            <p class="modal-header-title">Add supported Appliance</p>
            <button class="close app"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <form action="/tech/appliance" method="post" class="modal-form">
                <div class="modal-form-group">
                    <label for="type">Appliance Type</label>
                    <input name="type" id="type" type="text" required>
                </div>
                <div class="modal-form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../app.js"></script>
</body>
</html>
