<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Something went wrong">
    <meta name="author" content="Deyan Bozhilov">
    <title>Report</title>
    <script src="https://kit.fontawesome.com/0782d985f5.js" crossorigin="anonymous"></script>
    <link href="../../style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <div class="container nav-container">
        <a class="nav-title" href="/tech/dashboard">
            <span class="hide-lg">DR</span>
            <span class="hide-md">Domestic Repair</span>
        </a>
        <div class="current-user">
            <span class="badge">Technician</span>
            <span class="hide-md">Hi, {{tech.user}}</span> 
        </div>
        <a class="logout" href="/tech/logout">
            <span class="hide-md">Logout</span> <i class="fas fa-power-off"></i>
        </a>
    </div>
</nav>
<div class="container">
    {{#if success}}
        <div class="toast success">
            <p>{{success}}</p>
        </div>
    {{/if}}
    {{#if error}}
        <div class="toast error">
            <p>{{error}}</p>
        </div>
    {{/if}}


<div class="hero-section">
        <a href="/tech/dashboard" class="go-back">
            <button><i class="fas fa-arrow-left"></i> Go Back</button>
        </a>
        <div class="actions">
            {{#if job.assigned}}
                {{#if job.status}}
                    <button>
                        Completed <i class="fas fa-check"></i>
                    </button>
                {{else}}
                    <a href="/tech/check/{{job.id}}"></a>
                        <button>
                            Mark Completed
                        </button>
                    </a>
                {{/if}}
            {{else}}
                {{# if job.quoteId}}
                    <span>
                        <button class="pending">
                            Pending Approval
                        </button>
                    </span>
                {{else}}
                    <span id="quote">
                        <button>
                            Provide Quote
                        </button>
                    </span>
                {{/if}}
            {{/if}}
        </div>
    </div>


    <div class="job-details">
        <div class="keywords">
            <span> Age: <span class="tag">{{job.appAge}} years</span></span>
            <span> Appliance: <span class="tag">{{job.appType}}</span></span>
            <span> Manufacturer: <span class="tag">{{job.appMan}}</span></span>
        </div>
        <p class="created">
            by <span class="secondary">{{user.user}}</span> | created: 
            <span class="secondary">{{job.createdAt}}</span>
        </p>
        <div class="job-desc">
            <p>{{job.desc}}</p>
        </div>
        <span id="jobLat" style="opacity: 0; pointer-events: none">{{job.lat}}</span><span id="jobLng"
                                                                                           style="opacity: 0; pointer-events: none">{{job.lng}}</span>
        <div id="jobMap"></div>
    </div>

{{#if quote}}
            <div class="job-details">
                <p class="title"><i class="fas fa-file-invoice-dollar"></i> Quote</h3>
                <div class="keywords">
                    <span> Price: <span class="tag">£ {{quote.price}}</span></span>
                    <span> Booked Date: <span class="tag">{{quote.executionDate}}</span></span>
                    <span> Booked Time-Slot: <span class="tag">{{quote.executionTime}}</span></span>
                </div>
                <p class="job-desc">
                    A technician will come to the premises to execute the repair. His name is <span class="secondary">{{tech.user}}</span>.
                    <br>
                    Please do not let them in before they have identified themselves. <br>
                    <strong>We do not take responsibility if you get killed by someone other than our employee</strong>
                </p>
                <div class="quote-action">
                    {{#if quote.approved}}
                        <p class="text-green">User has accepted the offer! Please proceed to repair.</p>
                    {{else}}
                        <p class="text-accent">Waiting for user confirmation</p>
                    {{/if}}
                </div>
            </div>
        {{/if}}

    {{#if logs}}
        <div class="job-details">
            <p class="title"><i class="fas fa-info-circle"></i> Logs</h3>
            {{#each logs}}
                <div class="log">
                    <span>{{desc}}</span><span class="time">{{createdAt}}</span>
                </div>
            {{/each}}
        </div>
    {{/if}}
    <br>
</div>

<div class="modal-overlay" id="quote-modal">
    <div class="modal-window">
        <div class="modal-header">
            <p class="modal-header-title">Provide Quote</p>
            <button class="close quote"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <form action="/tech/quote/{{job.id}}" method="post" class="modal-form">
                <div class="modal-form-group">
                    <label for="price">Job Cost £</label>
                    <input name="price" id="price" type="number" required>
                </div>
                <div class="modal-form-group">
                    <label for="exec-date">Execution Date</label>
                    <input name="date" id="exec-date" type="date" required>
                </div>
                <div class="modal-form-group">
                    <label for="exec-time">Execution Time</label>
                    <select name="time" id="exec-time" required>
                        <option value="" selected>-- Choose Time Block --</option>
                        <option value="8:00 - 10:00">8:00 - 10:00</option>
                        <option value="10:00 - 12:00">10:00 - 12:00</option>
                        <option value="13:00 - 15:00">13:00 - 15:00</option>
                        <option value="15:00 - 17:00">15:00 - 17:00</option>
                    </select>
                </div>
                <div class="modal-form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../app.js"></script>
<script>
    function initMap() {
        let latInput = document.getElementById('jobLat').innerText
        let lngInput = document.getElementById('jobLng').innerText
        const mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(latInput, lngInput)
        }
        const map = new google.maps.Map(document.getElementById('jobMap'), mapOptions)
        let marker = new google.maps.Marker({
            position: mapOptions.center,
            map: map,
            draggable: false
        })
        map.setCenter(marker.position)
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClh5B6yiEc3qd754g2pItmh_FcgXAUr3E&callback=initMap"
        async defer></script>
</body>
</html>
