<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Something went wrong">
    <meta name="author" content="Deyan Bozhilov">
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/0782d985f5.js" crossorigin="anonymous"></script>
    <link href="../style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <div class="container nav-container">
        <a class="nav-title" href="/tech/dashboard">Domestic Repair</a>
        <ul>
            <li>
                {{#if tech.user}}
                    <span class="badge">Technician</span>
                    Hi, {{tech.user}}
                {{/if}}
            </li>
            <a href="/tech/logout">
                <li>
                    <i class="fas fa-sign-out-alt"></i> Logout
                </li>
            </a>
        </ul>
    </div>
</nav>
<div class="container">
    {{#if success}}
        <p class="success">{{success}}</p>
    {{/if}}
    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
    <div class="hero-section tech-hero">
        <h2 class="title">Dashboard</h2>
        <button id="add-appliance"><i class="fas fa-blender-phone"></i> Add Supported Appliance</button>
        <button id="add-manufacturer"><i class="far fa-copyright"></i> Add Supported Manufacturer</button>
    </div>
    <div class="job-list">
        <p class="job-list-title"><i class="fas fa-clipboard-list"></i> available jobs</p>
        {{#each jobs}}
            <div class="job-item">
                 <span class="job-status">
                    Status:
                     {{#if status}}
                         <i class="fas fa-check text-green"></i>
                     {{else}}
                         <i class="fas fa-times text-red"></i>
                     {{/if}}
                </span>
                <a href="/tech/report/{{id}}">
                    <span>{{desc}}</span>
                    <small>
                        <span class="secondary">{{appType}}</span> |
                        <span class="secondary">{{appAge}} years</span> |
                        <span class="secondary">{{appMan}}</span>
                    </small>
                </a>
            </div>
        {{/each}}
    </div>
    <br>
    <div class="job-list">
        <p class="job-list-title"><i class="fas fa-clipboard-list"></i> pending jobs</p>
        {{#each techPendingJobs}}
            <div class="job-item">
                 <span class="job-status">
                    Status: <i class="fas fa-spinner"></i>
                </span>
                <a href="/tech/report/{{id}}">
                    <span>{{desc}}</span>
                    <small>
                        <span class="secondary">{{appType}}</span> |
                        <span class="secondary">{{appAge}} years</span> |
                        <span class="secondary">{{appMan}}</span>
                    </small>
                </a>
            </div>
        {{/each}}
    </div>
    <br>
    <div class="job-list">
        <p class="job-list-title"><i class="fas fa-clipboard-list"></i> your jobs</p>
        {{#each techJobs}}
            <div class="job-item">
                <span class="job-status">
                    Status:
                    {{#if status}}
                        <i class="fas fa-check text-green"></i>
                    {{else}}
                        <i class="fas fa-times text-red"></i>
                    {{/if}}
                </span>
                <a href="/tech/report/{{id}}">
                    <span>{{desc}}</span>
                    <small>
                        <span class="secondary">{{appType}}</span> |
                        <span class="secondary">{{appAge}} years</span> |
                        <span class="secondary">{{appMan}}</span>
                    </small>
                </a>
            </div>
        {{/each}}
    </div>
    <br>
    <div class="row-wrap">
        <div class="wrap-list">
            <p class="wrap-list-title">All Supported Appliances</p>
            {{#each extra.appliances}}
                <div class="wrap-item">
                    <p>{{type}}</p>
                    <a href="/tech/remove-app/{{id}}">Remove</a>
                </div>
            {{/each}}
        </div>
        <br>
        <div class="wrap-list">
            <p class="wrap-list-title">All Supported Manufacturers</p>
            {{#each extra.manufacturers}}
                <div class="wrap-item">
                    <p>{{name}}</p>
                    <a href="/tech/remove-man/{{id}}">Remove</a>
                </div>
            {{/each}}
        </div>
    </div>
</div>


<div class="modal-overlay" id="manufacturer-modal">
    <div class="modal-window">
        <div class="modal-header">
            <p class="modal-header-title">Add supported Manufacturer</p>
            <button class="close man"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <form action="/tech/manufacturer" method="post" class="modal-form">
                <div class="modal-form-group">
                    <label for="name">Manufacturer Name</label>
                    <input name="name" id="name" type="text" required>
                </div>
                <div class="modal-form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal-overlay" id="appliance-modal">
    <div class="modal-window">
        <div class="modal-header">
            <p class="modal-header-title">Add supported Appliance</p>
            <button class="close app"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <form action="/tech/appliance" method="post" class="modal-form">
                <div class="modal-form-group">
                    <label for="type">Appliance Type</label>
                    <input name="type" id="type" type="text" required>
                </div>
                <div class="modal-form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../app.js"></script>
</body>
</html>
